@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next {
    top: 38% !important;
    right:3% !important;

}
.slick-prev {
    top: 38% !important;
    left: 2% !important;
    z-index: 11111;
}


.slick-prev:before, .slick-next:before {
    font-size: 25px !important;
    color: #ffffff !important;
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
    opacity: 0.7 !important;
}